{% extends 'store/main.html' %}
{% load static %}
{% block carousel %}
{% endblock %}
{% block title %}
{% endblock title %}
{% block body%}

    <div class="transition">
        <a class="transition__link" href="/">Главная</a>
        / Акции
    </div>
    <h5 class="contacts__title">Акции</h5>
    <div class="action__item">
        <div class="action__name">Название продукта</div>

            <a class="action__link-details" href="">
                <div class="action_details">Подробнее</div>
                <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" >
                    <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z"  />
                </svg>
            </a>
        
    </div>
    <div class="action__item">
        <div class="action__name">Название продукта</div>

            <a class="action__link-details" href="">
                <div class="action_details">Подробнее</div>
                <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" >
                    <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z"  />
                </svg>
            </a>
        
    </div>
    <div class="action__item">
        <div class="action__name">Название продукта</div>

            <a class="action__link-details" href="">
                <div class="action_details">Подробнее</div>
                <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" >
                    <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z"  />
                </svg>
            </a>
        
    </div>
    <div class="action__item">
        <div class="action__name">Название продукта</div>

            <a class="action__link-details" href="">
                <div class="action_details">Подробнее</div>
                <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" >
                    <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z"  />
                </svg>
            </a>
        
    </div>
    <div class="action__item">
        <div class="action__name">Название продукта</div>

            <a class="action__link-details" href="">
                <div class="action_details">Подробнее</div>
                <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" >
                    <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z"  />
                </svg>
            </a>
        
    </div>
    <div class="action__item">
        <div class="action__name">Название продукта</div>

            <a class="action__link-details" href="">
                <div class="action_details">Подробнее</div>
                <svg class="navigation__icon-arrow" xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" >
                    <path d="M6.001 5.002L2.999 0H.126l3.018 5.002L0 10h3z"  />
                </svg>
            </a>
        
    </div>
 
{% endblock body %}
