{% extends 'store/main.html' %}
{% load static %}
{% block carousel %}
{% endblock %}
{% block title %}
{% endblock title %}
{% block body%}

    <div class="page">
        <div class="transition">
            <a class="transition__link" href="/">Главная</a>
            / Контакты
        </div>
        <h5 class="contacts__title" >Контакты</h5>
        <div class="contacts">
            <div class="contacts__name">Toy Dastarkhan</div>
            <div class="contacts__info">
                <p> Адрес: г.Кокшетау, ул.Абая Кунанбаева 76;</p> 
                
                <p>Режим работы: Ежедневно 08:00 - 18:00;</p>
                
                <p>Телефон: +7 (7162)33-23-38;</p>
            
                <p>Почта: help@toydastarkhan.kz;</p>
            </div>

        </div>
    </div>

{% endblock body %}

