{% extends 'store/main.html' %}
{% load static %}
{% block carousel %}
{% endblock %}
{% block title %}
{% endblock title %}
{% block body%}

    <div class="transition">
        <a class="transition__link" href="/">Главная</a>
        <a class="transition__link" href="/help">/ Помощь /</a>
            Доставка
    </div>
    <h5 class="contacts__title">Доставка</h5>
    <div class="page">
        <div class="payment">
            <div> Доставка продуктов осуществляется по городу Кокшетау, ежедневно с 08:00 до 18:00
                    Оформленные сегодня заказы вы можете получить уже завтра.</div>
            <br>
            <ol>
                <li>
                    <h5>Условия оформления заказа</h5>
                    <br>
                    <p class="delivery__text">Вы можете оформить заказ, зарегистрировавшись на сайте <a class="transition__link" href="/sing">ToyDastarkhan.kz</a> </p>
                    <br>
                    <p class="delivery__text" >Выберите товары онлайн из предложенных наименований, используя каталог или строку поиска, и добавьте их в корзину.</p>
                    <br>
                    <ul>
                        <li>
                            <p class="delivery__text" >Минимальная сумма заказа – 500 тенге.</p>
                        </li>
                        <br>
                        <li>
                            <p class="delivery__text" >Бесплатная доставка при заказе от 10 000 тенге.</p>
                        </li>
                        <br>
                    </ul>
                    <p class="delivery__text" >Выберите дату и удобный интервал времени для получения заказа не позднее чем через 7 дней</p>
                </li>
                <br>
                <li>
                    <h5>Обмен/Возврат</h5>
                    <br>
                    <p class="delivery__text" >Согласно Закону о защите прав потребителей, при дистанционном способе покупки обмен товара происходит через оформление возврата на стойке Информации в Магазине Toy Dastarkhan по адресу г.Кокшетау, ул.Абая Кунанбаева 76</p>
                </li>
                <br>
                <li>
                    <h5>Вопросы и обратная связь</h5>
                    <br>
                    <p class="delivery__text" >Если у Вас возникли вопросы, пожелания или жалобы на качество обслуживания, Вы можете связаться с нами по телефону +7 (7162) 33‒23‒38.</p>
                </li>
            </ol>
        </div>
    </div>


{% endblock body %}
