{% extends 'store/main.html' %}
{% load static %}
{% block carousel %}
{% endblock %}
{% block title %}
{% endblock title %}
{% block body%}

    <div class="transition">
        <a class="transition__link" href="/">Главная</a>
        <a class="transition__link" href="/help">/ Помощь /</a>
            Вопросы
    </div>
    <h5 class="contacts__title">Вопросы</h5>
    <div class="page">
        <h5 class="payment" >Информация на данной странице скоро появится</h5>
    </div>


{% endblock body %}