{% extends 'store/main.html' %}
{% load static %}
{% block carousel %}
{% endblock %}
{% block title %}
{% endblock title %}
{% block body%}

    <div class="transition">
        <a class="transition__link" href="/">Главная</a>
        <a class="transition__link" href="/help">/ Помощь /</a>
            Оплата
    </div>
    <h5 class="contacts__title">Способы оплаты</h5>
    <div class="page">
        <div class="payment">
            <div> Оплачивайте покупку любым подходящим для Вас способом в момент получения заказа:</div>
            <br>
            <div class="payment__text">1. Наличные. Оплата осуществляется только после того, как Вы проверили заказ, ознакомились с товарами и приняли решение о покупке. Деньги передаются курьеру интернет-магазина ToyDastarkhan.kz, который предоставляет кассовый чек и товарную накладную/акт.</div>
            <br>
            <div>2. Безналичный расчет. На данный момент вы можете оплатить заказ через платежную систему PayPal данная система принимает катры Visa и MasterCard</div>
        </div>
    </div>


{% endblock body %}
