<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% extends 'store/main.html' %}
{% load static %}
{% block carousel %}

{% endblock %}
{% block title %}
{% endblock title %}
{% block body%}
    <!-- <form method="POST" action="{% url 'search-page' %}" class="search__page">

        {% csrf_token %}

        <input class="search__page-input" type="text" placeholder="Поиск" name="searched">
        <button class="search__page-button" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </form> -->

{% if searched %}
    <h1 class="results__search">Вы искали: {{searched}}</h1>
    <br>

    <div class="row">
        {% for product in products %}
        <div class="col-lg-4 remove-padding">
            <img class="thumbnail height-cart" src="{{product.imageURL}}">
            <div class="box-element product">
                <h6>
                    <strong>{{product.name}}</strong>
                </h6>
                <hr>

                <!-- <button type="button" data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary add-btn update-cart">Добавить</button> -->
                    <a type="button" data-product="{{product.id}}" data-action="add" class="btn-outline-secondary add-btn update-cart bg-white">
                        <i id="cart-icon" class="fab fa-opencart fa-2x"></i>
                    </a>
                    <a class="view__cart" href="#">
                        <i class="far fa-heart fa-2x"></i>
                    </a>
                    <a class="view__cart" href="{% url 'product_details' product.slug %}">
                        <i class="far fa-eye fa-2x"></i>
                    </a>
                <h4 style="display: inline-block; float: right">
                    <strong>${{product.price|floatformat:2}}</strong>
                </h4>
            </div>
        </div>
        {% endfor %}
    </div>
    
{% else %}
    <h1>Введите...</h1>
{% endif %}
    

{% endblock body %}